In [15]:
import pandas as pd
import numpy as np

In [16]:
s_main_df = pd.read_excel('0778_MAIN_0811.xlsx')

In [17]:
s_main_df.head()

   P08 NUMBER   BP Number  Sales Org
0   601804637  1120145505        101
1       12406  1120213909        101
2       12414  1120213912        101
3       17487  1120216127        101
4       17488  1120216128        101

In [18]:
s_p07 = pd.read_excel('0778_P07_0811.xlsx')

In [19]:
s_p07.head()

   P08_NUM  SALES_ORG  VTWEG  SPART  PARZA PF_TYPE  PF_NUM  ACTIVE VALIDATION
0     1262        101      1      2      0      AG    1262     NaN    MATCHED
1     1262       1153      1      1      0      AG    1262     NaN    MATCHED
2     1262        101      1      2      0      RE    1262     NaN    MATCHED
3     1262       1153      1      1      0      RE    1262     NaN    MATCHED
4     1262        101      1      2      0      RG    1262     NaN    MATCHED

In [20]:
s_p40 = pd.read_excel('0778_P40_0811.xlsx')

In [21]:
s_p40.head()

,P40_BP,SALES_ORG,VTWEG,SPART,PARZA,PF_TYPE,PF_NUM,ACTIVE,VALIDATION
0,1120145505,101,30,99,0,AG,1120145505,NaN,MATCHED
1,1120145505,101,20,99,0,AG,1120145505,NaN,MATCHED
2,1120145505,101,30,99,0,RE,1120145505,NaN,MATCHED
3,1120145505,101,20,99,0,RE,1120145505,NaN,MATCHED
4,1120145505,101,30,99,0,RG,1120145505,NaN,MATCHED

In [22]:
p07_pivot = pd.pivot_table(s_p07, index = 'P08_NUM', columns = ['PF_TYPE', 'SALES_ORG', 'VTWEG', 'SPART', 'PARZA'], values = 'PF_NUM')
p07_pivot

PF_TYPE             AG                                      HQ           RE  \
SALES_ORG         101                                1153 101          101
VTWEG                1                                  1    1            1
SPART                1            2            3        1    1            1
PARZA                0            0            0        0    0            0
P08_NUM
1262               NaN       1262.0          NaN   1262.0  NaN          NaN
11790          11864.0          NaN          NaN  11864.0  NaN          NaN
11836          11864.0          NaN          NaN      NaN  NaN          NaN
11881          11796.0          NaN          NaN  11796.0  NaN          NaN
12026          11796.0          NaN          NaN  11796.0  NaN          NaN
...                ...          ...          ...      ...  ...          ...
10662947           NaN          NaN          NaN      NaN  NaN          NaN
10670009           NaN          NaN          NaN      NaN  NaN          NaN
601011703          NaN          NaN  601011703.0    801.0  NaN          NaN
601804637          NaN  601804637.0          NaN      NaN  NaN          NaN
601899708  601899708.0          NaN          NaN      NaN  NaN  601899708.0

PF_TYPE                                     ...         WE             \
SALES_ORG                                   ...       101
VTWEG                                       ...          1
SPART                        2              ...          2
PARZA       1   2            0           1  ...          2          3
P08_NUM                                     ...
1262      NaN NaN       1262.0         NaN  ...  9991034.0  9991039.0
11790     NaN NaN          NaN         NaN  ...        NaN        NaN
11836     NaN NaN          NaN         NaN  ...        NaN        NaN
11881     NaN NaN          NaN         NaN  ...        NaN        NaN
12026     NaN NaN          NaN         NaN  ...        NaN        NaN
...        ..  ..          ...         ...  ...        ...        ...
10662947  NaN NaN          NaN         NaN  ...        NaN        NaN
10670009  NaN NaN          NaN         NaN  ...        NaN        NaN
601011703 NaN NaN          NaN  10401593.0  ...        NaN        NaN
601804637 NaN NaN  601804637.0         NaN  ...        NaN        NaN
601899708 NaN NaN          NaN         NaN  ...        NaN        NaN

PF_TYPE                                       Z1
SALES_ORG                              1153 101              1153
VTWEG                                     1    1                1
SPART                3                    1    1           2    1
PARZA                0   1   2            0    0   1       0    0
P08_NUM
1262               NaN NaN NaN       1262.0  NaN NaN  1262.0  NaN
11790              NaN NaN NaN      11790.0  NaN NaN     NaN  NaN
11836              NaN NaN NaN      11836.0  NaN NaN     NaN  NaN
11881              NaN NaN NaN      11881.0  NaN NaN     NaN  NaN
12026              NaN NaN NaN      12026.0  NaN NaN     NaN  NaN
...                ...  ..  ..          ...  ...  ..     ...  ...
10662947           NaN NaN NaN          NaN  NaN NaN     NaN  NaN
10670009           NaN NaN NaN          NaN  NaN NaN     NaN  NaN
601011703  601011703.0 NaN NaN  601011703.0  NaN NaN     NaN  NaN
601804637          NaN NaN NaN          NaN  NaN NaN     NaN  NaN
601899708          NaN NaN NaN          NaN  NaN NaN     NaN  NaN

[100 rows x 36 columns]

In [23]:
p40_pivot = s_p40.pivot_table(index = 'P40_BP', columns = ['PF_TYPE', 'SALES_ORG', 'VTWEG', 'SPART', 'PARZA'], values = 'PF_NUM', aggfunc='first')
p40_pivot

PF_TYPE      AG                                       RE              \
SALES_ORG  101                                 1153 101
VTWEG        10          20          30          30   10          20
SPART        99          99          99          99   99          99
PARZA         0           0           0           0    0           0
P40_BP
1120145505  NaN  1120145505  1120145505         NaN  NaN  1120145505
1120213846  NaN         NaN  1120213846  1120213846  NaN         NaN
1120213854  NaN         NaN  1120213854  1120213854  NaN         NaN
1120213875  NaN         NaN  1120213875  1120213875  NaN         NaN
1120213909  NaN         NaN  1120213909         NaN  NaN         NaN
...         ...         ...         ...         ...  ...         ...
P5019       NaN       P5019       P5019       P5019  NaN  1120216771
P5037       NaN       P5037         NaN       P5037  NaN  1120216771
P5067       NaN       P5067         NaN       P5067  NaN  1120216771
P5107       NaN       P5107         NaN       P5107  NaN  1120216771
P5182       NaN       P5182         NaN       P5182  NaN  1120216771

PF_TYPE                              RG              ...          WE  \
SALES_ORG                     1153 101               ...        101
VTWEG               30          30   10          20  ...          30
SPART               99          99   99          99  ...          99
PARZA                0           0    0           0  ...           0
P40_BP                                               ...
1120145505  1120145505         NaN  NaN  1120145505  ...  1120145505
1120213846  1120213846  1120213846  NaN         NaN  ...  1120213846
1120213854  1120213854  1120213854  NaN         NaN  ...  1120213854
1120213875  1120213875  1120213875  NaN         NaN  ...  1120213875
1120213909  1120075867         NaN  NaN         NaN  ...  1120213909
...                ...         ...  ...         ...  ...         ...
P5019            P5019       P5019  NaN  1120216771  ...       P5019
P5037              NaN       P5037  NaN  1120216771  ...         NaN
P5067              NaN       P5067  NaN  1120216771  ...         NaN
P5107              NaN       P5107  NaN  1120216771  ...         NaN
P5182              NaN       P5182  NaN  1120216771  ...         NaN

PF_TYPE                                        Z1                    ZE
SALES_ORG                               1153 101              1153 101
VTWEG                                     30   20          30   30   20   30
SPART                                     99   99          99   99   99   99
PARZA                1    2    3           0    0           0    0    0    0
P40_BP
1120145505         NaN  NaN  NaN         NaN  NaN         NaN  NaN  NaN  NaN
1120213846         NaN  NaN  NaN  1120213846  NaN         NaN  NaN  NaN  NaN
1120213854         NaN  NaN  NaN  1120213854  NaN         NaN  NaN  NaN  NaN
1120213875         NaN  NaN  NaN  1120213875  NaN         NaN  NaN  NaN  NaN
1120213909  1120599865  NaN  NaN         NaN  NaN  1120213909  NaN  NaN  NaN
...                ...  ...  ...         ...  ...         ...  ...  ...  ...
P5019              NaN  NaN  NaN       P5019  NaN         NaN  NaN  NaN  NaN
P5037              NaN  NaN  NaN       P5037  NaN         NaN  NaN  NaN  NaN
P5067              NaN  NaN  NaN       P5067  NaN         NaN  NaN  NaN  NaN
P5107              NaN  NaN  NaN       P5107  NaN         NaN  NaN  NaN  NaN
P5182              NaN  NaN  NaN       P5182  NaN         NaN  NaN  NaN  NaN

[100 rows x 30 columns]

In [24]:
total_pivot_p07 = s_main_df.merge(p07_pivot, left_on = 'P08 NUMBER', right_index = True, how = 'left')
total_pivot_p07

C:\Users\O70295\Downloads\anaconda\lib\site-packages\pandas\core\reshape\merge.py:618: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 5 on the right)
  warnings.warn(msg, UserWarning)

,P08 NUMBER,BP Number,Sales Org,"(AG, 101, 1, 1, 0)","(AG, 101, 1, 2, 0)","(AG, 101, 1, 3, 0)","(AG, 1153, 1, 1, 0)","(HQ, 101, 1, 1, 0)","(RE, 101, 1, 1, 0)","(RE, 101, 1, 1, 1)",...,"(WE, 101, 1, 2, 2)","(WE, 101, 1, 2, 3)","(WE, 101, 1, 3, 0)","(WE, 101, 1, 3, 1)","(WE, 101, 1, 3, 2)","(WE, 1153, 1, 1, 0)","(Z1, 101, 1, 1, 0)","(Z1, 101, 1, 1, 1)","(Z1, 101, 1, 2, 0)","(Z1, 1153, 1, 1, 0)"
0,601804637,1120145505,101,NaN,601804637.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,12406,1120213909,101,600876144.0,NaN,NaN,NaN,NaN,NaN,600876144.0,...,NaN,NaN,NaN,NaN,NaN,NaN,12406.0,NaN,NaN,NaN
2,12414,1120213912,101,NaN,12414.0,NaN,NaN,NaN,NaN,20957.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1058.0,NaN,NaN,NaN
3,17487,1120216127,101,NaN,NaN,17487.0,NaN,17487.0,NaN,17515.0,...,NaN,NaN,17487.0,NaN,NaN,NaN,17487.0,NaN,NaN,NaN
4,17488,1120216128,101,NaN,NaN,17488.0,NaN,NaN,NaN,18244.0,...,NaN,NaN,17488.0,NaN,NaN,NaN,17488.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,9990455,P0512,1153,NaN,21074.0,NaN,101.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,9990455.0,NaN,NaN,NaN,NaN
127,9990529,P0625,1153,NaN,1524.0,NaN,9990529.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,9990529.0,NaN,NaN,NaN,NaN
128,9990559,P0639,1153,NaN,1524.0,NaN,9990559.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,9990559.0,NaN,NaN,NaN,NaN
129,9990599,P0651,1153,NaN,1524.0,NaN,9990599.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,9990599.0,NaN,NaN,NaN,NaN
130,10508401,1120285555,1153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,10508401.0,NaN,NaN,10508401.0,10508401.0,NaN,NaN,NaN

In [25]:
total_pivot_p07_p40 = total_pivot_p07.merge(p40_pivot, left_on = 'BP Number', right_index = True, how='left')
total_pivot_p07_p40

C:\Users\O70295\Downloads\anaconda\lib\site-packages\pandas\core\reshape\merge.py:618: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 5 on the right)
  warnings.warn(msg, UserWarning)

,P08 NUMBER,BP Number,Sales Org,"(AG, 101, 1, 1, 0)","(AG, 101, 1, 2, 0)","(AG, 101, 1, 3, 0)","(AG, 1153, 1, 1, 0)","(HQ, 101, 1, 1, 0)","(RE, 101, 1, 1, 0)","(RE, 101, 1, 1, 1)",...,"(WE, 101, 30, 99, 0)","(WE, 101, 30, 99, 1)","(WE, 101, 30, 99, 2)","(WE, 101, 30, 99, 3)","(WE, 1153, 30, 99, 0)","(Z1, 101, 20, 99, 0)","(Z1, 101, 30, 99, 0)","(Z1, 1153, 30, 99, 0)","(ZE, 101, 20, 99, 0)","(ZE, 101, 30, 99, 0)"
0,601804637,1120145505,101,NaN,601804637.0,NaN,NaN,NaN,NaN,NaN,...,1120145505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,12406,1120213909,101,600876144.0,NaN,NaN,NaN,NaN,NaN,600876144.0,...,1120213909,1120599865,NaN,NaN,NaN,NaN,1120213909,NaN,NaN,NaN
2,12414,1120213912,101,NaN,12414.0,NaN,NaN,NaN,NaN,20957.0,...,1120213912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,17487,1120216127,101,NaN,NaN,17487.0,NaN,17487.0,NaN,17515.0,...,1120216127,NaN,NaN,NaN,NaN,NaN,1120216127,NaN,NaN,EDI0000016
4,17488,1120216128,101,NaN,NaN,17488.0,NaN,NaN,NaN,18244.0,...,1120216128,1120216301,NaN,NaN,NaN,NaN,1120216128,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,9990455,P0512,1153,NaN,21074.0,NaN,101.0,NaN,NaN,NaN,...,P0512,NaN,NaN,NaN,P0512,NaN,NaN,NaN,NaN,NaN
127,9990529,P0625,1153,NaN,1524.0,NaN,9990529.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,P0625,NaN,NaN,NaN,NaN,NaN
128,9990559,P0639,1153,NaN,1524.0,NaN,9990559.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,P0639,NaN,NaN,NaN,NaN,NaN
129,9990599,P0651,1153,NaN,1524.0,NaN,9990599.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,P0651,NaN,NaN,NaN,NaN,NaN
130,10508401,1120285555,1153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1120285555,NaN,NaN,NaN,1120285555,NaN,1120285555,NaN,EDI0000413,NaN

In [26]:
total_pivot_p07_p40.to_excel('Main_Pivot_0812_2.xlsx')